body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://getwallpapers.com/wallpaper/full/6/6/4/514739.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;

}

.bus-info {
    background-color:rgba(188, 252, 135, 0.8);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-out;
}

.form-container {
    background-color: rgba(188, 252, 135, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in;
}

#mobile-number {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#pay-now {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pay-now:disabled {
    background-color: grey;
    cursor: not-allowed;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
